.guess-form {
    gap: 16px;
    max-width: fit-content;
    margin-top: 16px;
    margin-inline: auto;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    background-color: var(--dark);
    color: white;
    padding: 8px 8px;
}

.correct {
    outline: 1px solid green;
}

.incorrect {
    outline: 1px solid red;
}

