.card {
    margin-inline: auto;
    margin-top: 16px;
    max-width: 290px;
    padding: 16px;
    text-align: center;
}

.card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-bottom > p {
    font-size: 1.3rem;
    margin-top: 32px;
}
